* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

body {background: url("../images/debut_light.png") repeat center 0 white;}

p {font-size: 1em; line-height: 1.8em; color:#333;}

img {background:#ffffff; padding:5px; border:1px solid #ddd !important; -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.2); -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.2);box-shadow:1px 1px 1px rgba(0,0,0,0.2);}

h1, h2, h3, h4, h5 {-webkit-text-shadow:1px 1px 1px white; -moz-text-shadow:1px 1px 1px white;text-shadow:1px 1px 1px white;}